body {
    background: url("../../assets/images/middle-ground.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
}

.jumbotron {
    border-radius: 25px;
    border: 2px solid whitesmoke;
    background-color: orangered;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0.9;
    max-width: 50%;
    height: 200px;
}

h1 {
    text-align: center;
    color: white;
}

.lead {
    text-align: center;
    color: white;
}

.form-control {
    color: black;
    border: 2px solid orangered;
}

.btn {
    background-color: orangered;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    margin-top: 10px;
}

.btn:hover {
    background-color: green;
    border: 2px solid whitesmoke;
}

#mapArea {
    max-width: 50%;
    height: 480px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid orangered;
    opacity: 0.8;
}

.table {
    background: whitesmoke;
    max-width: 75%;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid orangered;
    opacity: 0.8;    
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }